#####################################################################
#  Power Management
#####################################################################

## Idle Timeout
[idle_timeout]
gcode:
  {% if printer.webhooks.state|lower == 'ready' %}
    {% if printer.pause_resume.is_paused|lower == 'false' %}
      {action_respond_info("POWER: Execute Idle Timeout")}
      TURN_OFF_HEATERS
      {% if printer['gcode_macro _USER_VARIABLE'].hw.relay.ena %}
        UPDATE_DELAYED_GCODE ID=_DELAY_HEATER_OFF DURATION=10
      {% endif %}
      UPDATE_DELAYED_GCODE ID=_DELAY_PSU_OFF DURATION=20
    {% endif %}
  {% endif %}
# 2h timeout
timeout: 7200

##  Safety Relay extruder
## Use a pin to switch on a relay for the Extruder heater if klipper is active
## XYE board, UPWR_DET_PIN Connector
[output_pin extruder_relay]
## negativ logic
pin: !P1.0
pwm: false
shutdown_value: 0
value: 1

##  Safety Relay heater_bed
## Use a pin to switch on a relay for the  heater_bed if klipper is active
## Z board, UPWR_DET_PIN Connector
[output_pin heater_bed_relay]
## negativ logic
pin: !z:P1.0
pwm: false
shutdown_value: 0
value: 1
